

body {
    font-family: 'IBM Plex Mono', monospace;
}

.our-framework {
    background-color: #19303d;
    height: calc(100% + 46px);
}

/* @media (min-width: 576px) { 
    .our-framework {
        height: ;
    }
 } */


.our-framework-link {
    font-size: 14px;
}

.our-framework-link svg {
    transition:  margin-left .3s;
    -webkit-transition:  margin-left .3s;
    -moz-transition:  margin-left .3s;
    -ms-transition:  margin-left .3s;
    -o-transition:  margin-left .3s;
}

.our-framework-link svg:hover {
    margin-left: 3px;
}

.optimized-code-content {
    border: 2px dotted #19303d;
}

.optimized-code-content:hover .arrow {
    margin-right: -10px;
    background-color: #0dcaf0;
}

.arrow {
    background-color: #19303d;
    transition: margin-right .5s , background-color .5s;
    -webkit-transition: margin-right .5s , background-color .5s;
    -moz-transition: margin-right .5s , background-color .5s;
    -ms-transition: margin-right .5s , background-color .5s;
    -o-transition: margin-right .5s , background-color .5s;
}